<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <img src="/../assets/ineter-logo.png" height="55" width="55">
  <button mat-button routerLink="home">
    <span>SGDGC</span>
  </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer [(opened)]="opened" class="sidenav"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'push'"
               (cdkObserveContent)="drawer.toggle()">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="home" (click)="drawer.toggle()"><img src="../../assets/icons/round_home_black_24dp.png">Inicio</a>
      <a mat-list-item routerLink="newTour" (click)="drawer.toggle()"><img src="../../assets/icons/round_add_black_24dp.png">Nueva Gira</a>      
      <a mat-list-item routerLink="/#" (click)="drawer.toggle()"><img src="../../assets/icons/round_view_list_black_24dp.png">Giras</a>      

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
