.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

mat-card {
  margin: 1em;
  box-shadow: none !important;
  border: 1px solid rgba(0, 0, 0, 0.54);
}

button {
  margin-right: 0.5em;
}

.nextButton {
  clear: both;
  margin-left: 1em;
}

.dateCard {
  width: 35%;
  height: 60%;
  float: left;
  margin-right: 2px;
}

.locationCard {
  width: 60%;
  float: right;
}

.mat-card-inside {
  margin: 2px;
  align-items: center;
  align-content: center;
}

#dataPicker {
  margin-left: 9.5%;
  width: 80%;
  min-width: 35%;
}
