//@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$ineterGreen: (
  50: #e5f4e4,
  100: #c1e4bc,
  200: #98d291,
  300: #48b53f,
  400: #48b53f,
  500: #15a80e,
  600: #009900,
  700: #008700,
  800: #007700,
  900: #005800,
  contrast:(
    50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: white,
  )
);

@font-face {
    font-family: 'myFont';
    src: url("/../assets/Product Sans Regular.ttf") format("truetype");
 }

 $font-main: 'myFont, sans-serif';

$ineter-typography: mat-typography-config(
  $font-family: $font-main,
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

@include mat-core($ineter-typography);
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$ClientApp-primary: mat-palette($ineterGreen);
$ClientApp-accent: mat-palette($mat-red);

// The warn palette is optional (defaults to red).
$ClientApp-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ClientApp-theme: mat-light-theme($ClientApp-primary,$ClientApp-accent,$ClientApp-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ClientApp-theme);

/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body {
     margin: 0;
}
img{
    margin-right: 0.5em;      
}
button{
  background-color: #15a80e;
}

